/* modal css  */
.swal-content {
  padding: 0 20px;
  margin-top: 9px;
  font-size: 15px;
  overflow-wrap: break-word;
  color: white;
}

.link_hash {
  color: white;
}

.modal_class {
  background-color: #0c2347;
}

.swal-modal {
  background-color: #0c2347;
}

.modal_class_success .swal-icon::before {
  background-color: transparent;
}

.modal_class_success .swal-icon::after {
  background-color: transparent;
}

.swal-icon--success__hide-corners {
  background-color: transparent;
}

.success {
  color: #FF343F;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.swal-text {
  text-align: center;
  color: #FF343F;
  font-weight: bold;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Wallet CSS */
.titleWallet {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: end;
}

.alertWalletDiv {
  margin-top: -2.5rem;
}

.walletIcon {
  width: 40px;
}

.contents {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #a2a2a2;
  text-align: center;
  margin-bottom: 0rem;

}

.contentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.walletDiv span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  font-weight: bold;
}

.walletDiv {
  cursor: pointer;
  border: none;
  text-align: center;
  padding-top: 26px;
  color: #a2a2a2;
  font-family: Montserrat;
  font-weight: bold;
  background-color: #060c13 !important;
}

.walletModal_icon {
  margin-left: 0% !important;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.imgWallet {
  width: 50px !important;
  margin: 0 auto;
}

.dialogWallet {
  background-color: #060c13;
  color: white;
}

.dialogDiv {
  border-radius: 20px;
}

.walletName {
  font-size: 1rem;
  color: #a2a2a2;

}

.walletFont {
  margin-right: 6px;
}

.contents1 {
  color: #a2a2a2;
  text-decoration: none;

}

.contents1:hover {
  color: #fff;

}

.walletdiv {
  display: flex;
  align-items: center;
  justify-content: end;
}

.connectMenu {
  border: none;
  background-color: rgb(237, 41, 41);
  color: white;
  padding-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-resize {
  font-size: 70px;
}

.form-element {
  display: table-cell;
  box-sizing: border-box;
}

.xs-hide {
  display: none;
}

.banner-text {
  margin-top: -20px;

}

span.navbar-toggler-icon {
  width: 23px;
}

/* ------------------ */
.d-item1{
  padding: 8px;
}
.slick-prev:before {
  line-height: 0;
  font-size: 50px !important;
  color: #ffffff48 !important;

}

button.slick-arrow.slick-prev {
  z-index: 500;
}
 
.slick-next:before {
  line-height: 0;
  font-size: 50px !important;
  color: #ffffff48 !important;

}

button.slick-arrow.slick-next {
  margin-right: 30px;
  z-index: 500;
}
/* --------------------------------- */
.CertificatModalButton{
  border-radius: 5px !important;
}
.titelColor{
  color:#4e95ff !important;
}
/* -------------Footer css---------------------- */
.footer-main{
  background-color: #1A1A25;
}
.text-center.my-3.footer {
  position: relative;
}

.made-love {
  color: rgb(236, 81, 81);
  font-size: 18px;
  font-weight: 600;
}

p.text-light.mb-0 {
  align-items: center;
  display: flex;
}

.icon-part {
  text-decoration: none;
}

.icon-sm {
  height: 30px;
  width: 30px;
  background-color: rgb(66, 66, 66);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-sm .icons {
  color: #DC3545;
  text-decoration: none;
}

.pricing-image-home img {
  opacity: .9;
  width: 100%;
  border-radius: 7px;
}
 


.d-flex.justify-content-center.gap-3.flex-row {
  display: flex;
  justify-content: center;
}
.headerButtonW{
  padding-left: 25px;
}
@media only screen and (max-width: 769px) {
  .social_link_wrapper{
    justify-content: center !important;
  }
  #certificatModal{
    width: 80% !important;
  }

  .headerButtonW{
    padding-left: 0px;
  }
}
/* --------------------------------- */
.snbjasasdjh{
  background: brown;
  margin-top: 8px;
  margin-bottom: -39px;
  width: 47px;
  z-index: 500;
  height: 47px;
  border-radius: 50%;
}


@media only screen and (max-width: 900px) and (min-width: 700px) {
  .line-one {
    width: 413px;
  }
}

@media only screen and (max-width: 480px) {
  .walletModal_icon {
    margin-left: 12.5% !important;
  }
}
@media only screen and (max-width: 425px) {
  .line-one {
    width: auto;
    letter-spacing: 5px !important;
  }

  .handleImgforRespons {
    margin-left: 50px !important;
    margin-top: 20px !important;
    width: 70% !important;
  }

  .img-fluids {
    width: 20% !important;
  }

  .font-resize {
    line-height: 50px !important;
  }


  .font-resize {
    font-size: 40px;
  }
}

 

